 
.site-header::after {
    content: "";
    display: table;
    clear: both;
  }
  .navbar-logo {
    float: left;
   margin-left:15px;
  }
  
  .navbar-logo img {
    max-width: 150px;
    float: left;
    margin: 0 10px 0 0;
  }
  
